<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    {% block header %}
    {% endblock %}
</head>
<body>
    <h1>Brand and logo</h1>
    <hr>

    {% block content %}
    This is the default content ({{ username }})
    {% endblock %}

    <hr>

    {% block footer %}
    This is the default footer
    {% endblock %}
    <br>
    Horváth Győző
</body>
</html>