{% extends "layout.njk" %}

{% block content %}
<h2>Registration</h2>
{% if errors %}
<ul>
    {% for error in errors %}
        <li>{{ error.message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form action="" method="post">
    Username: <input type="text" name="username"> <br>
    Password: <input type="password" name="password"> <br>
    Confirm password: <input type="password" name="password_confirm"> <br>
    Email: <input type="text" name="email"> <br>
    <input type="submit" value="reg">
</form>
{% endblock %}
